<launch>
    <!-- Start set_connection -->
    <node name="rosserial_esp32" pkg="rosserial_arduino" type="serial_node.py"
          output="screen">
    <rosparam>
            port: "/dev/ttyUSB0"
            baud: "57600"
            </rosparam>
    </node>

   <node name="rosserial_arduino" pkg="rosserial_arduino" type="serial_node.py" output="screen">
    <rosparam>
            port: "/dev/ttyACM1"
            baud: "57600"
            </rosparam>
    </node>

</launch>