<launch>
    <!-- Start set_connection -->
    <node name="rosserial_esp32" pkg="rosserial_arduino" type="serial_node.py"
          output="screen">
    <rosparam>
            port: "/dev/ttyUSB0"
            baud: "57600"
            </rosparam>
    </node>

    <test test-name="rosserial_arduino" pkg="rosserial_arduino" type="serial_node.py">
    <rosparam>
            port: "/dev/ttyUSB1"
            baud: "6900"
            </rosparam>
    </test>

</launch>