<launch>

    <!-- <executable cmd="sudo chmod 666 /dev/ttyUSB0" output="screen"/> -->
    <!-- include other .launch-->
    <include file="$(dirname)/controller_manager.launch" />
    <include file="$(dirname)/start_tilt_controller.launch" />
    <include file="$(dirname)/set_connection.launch" />


    <!-- node -->
    <group ns="nodes">
        <node name ="dynamixel" pkg="deliv_robot" type="dynamixel_command.py" output="screen"/>
        <node name ="serial_translator" pkg="deliv_robot" type="serial_translator.py" />
    </group>

</launch>